body {font-family: Verdana, Geneva, Tahoma, sans-serif;
background-color:#87a6df;
color:#000000;
}

a:link{color: #59be91
}

a:hover{color:#1d3e2f}


h1 {color:#ac27b3;
    font-size: 2.75em;
}

h2 {color:#3e3e3e}

nav {background-color: #b0c1ff;}

nav a{color:#59be91}
nav a:hover {background-color: #d8ffb6;}
nav {padding:10px}
nav {margin-bottom: 30px}

